.bs-primary {
  box-shadow: 3px 3px 7px 0px rgba(26, 25, 60, 0.1) !important;
}

.bs-none {
  box-shadow: 0px 0px 0px 0px rgba(26, 25, 60, 0.1) !important;
}

.boder-primary {
  border: 1px solid rgba(255, 146, 0, 1);
}

/* Cor da borda do v-text-field */
.v-text-field--outlined fieldset {
  border: 1px solid rgba(208, 208, 216, 1);
  box-sizing: border-box;
  border-radius: 6px;
}

.v-tabs-slider-wrapper {
  height: 47px;
  right: 0px;
  top: 0px;
  width: 2px;
}

.v-pagination__item,
.v-pagination__navigation {
  box-shadow: 3px 3px 7px 0px rgba(20, 14, 192, 0.1) !important;
}