.primary-card {
  /* cinza-lighten-4 */

  border: 1px solid #fcfcff;
  box-sizing: border-box;
  box-shadow: 4px 4px 15px rgba(26, 25, 60, 0.05);
  border-radius: 6px !important;
}

.job-card-mobile {
  background: #fcfcff;
  box-shadow: 4px 4px 10px 2px rgba(26, 25, 60, 0.1) !important;
  border-radius: 6px !important;
}
