.cursor-pointer {
  cursor: pointer;
}
.cursor-alias,
.cursor-default {
  cursor: default;
}

.v-btn:not(.v-btn--round).v-size--x-large {
  height: 56px !important;
}

.v-btn.v-size--x-large {
  height: 56px !important;
}

.v-autocomplete__content.v-menu__content {
  background-color: #fcfcff !important;
  color: #fcfcff !important;
}
.circle {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  background: #fff;
  border: 1px solid #ff9200;
  border-radius: 50%;
  background-color: #fcfcff;

  display: table-cell;
  text-align: center;
  vertical-align: middle;

  font-size: 1.5em;
  font-weight: 600;
  color: #ff9200;
}