:root {
  --blue : #00CFE8;
  --indigo : #6610F2;
  --purple : #6F42C1;
  --pink : #E83E8C;
  --red : #EA5455;
  --orange : #FF9F43;
  --yellow : #FFC107;
  --green : #28C76F;
  --teal : #20C997;
  --cyan : #7367F0;
  --white : #FFFFFF;
  --gray : #B8C2CC;
  --gray-dark : #1E1E1E;
  --primary : #7367F0;
  --secondary : #B8C2CC;
  --success : #28C76F;
  --info : #00CFE8;
  --warning : #FF9F43;
  --danger : #EA5455;
  --light : #BABFC7;
  --dark : #1E1E1E;
  --breakpoint-xs : 0;
  --breakpoint-sm : 576px;
  --breakpoint-md : 768px;
  --breakpoint-lg : 992px;
  --breakpoint-xl : 1200px;
  font-family: 'Montserrat', Helvetica, Arial, serif;
  --font-family-sans-serif : 'Montserrat', Helvetica, Arial, serif;
  --font-family-monospace : 'Montserrat', Helvetica, Arial, serif;
}