:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family: 'Open Sans', 'Montserrat' Helvetica, Arial, serif;
  --font-family-sans-serif: 'Montserrat', Helvetica, Arial, serif;
  --font-family-monospace: 'Montserrat', Helvetica, Arial, serif;
  --font-size: 16px;
}
