
.ql-toolbar.ql-snow {
  border: 1px solid rgba(0, 0, 0, 0.42) !important;
  border-radius: 6px !important;
  /* color: #706F98 !important; */
  background-color: #706f98 !important;
}

.ql-container.ql-snow {
  border: 1px solid rgba(0, 0, 0, 0.42) !important;
  border-radius: 6px !important;
}

.quillWrapper .ql-snow .ql-stroke {
  stroke: #f7f7fb !important;
}

.ql-snow .ql-fill {
  fill: #f7f7fb !important;
}

pre {
  border-radius: 6px !important;
  background-color: #6c6c77 !important;
}

.ql-editor {
  margin: 16px !important;
}
