h1 {
  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 89px;
  line-height: 98px;
  /* or 98px */

  display: flex;
  align-items: center;
  letter-spacing: -1.5px;

  /* Dark */

  color: #1a193c;
}

h2 {
  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 67px;
  line-height: 74px;
  /* or 74px */

  display: flex;
  align-items: center;
  letter-spacing: -0.5px;

  /* Dark */

  color: #1a193c;
}

h3 {
  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  /* or 55px */

  display: flex;
  align-items: center;

  /* Dark */

  color: #1a193c;
}

h4 {
  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 46px;
  /* or 46px */

  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  /* Dark */

  color: #1a193c;
}

h5 {
  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 120%;
  /* or 34px */

  display: flex;
  align-items: center;

  /* Dark */

  color: #1a193c;
}

h6 {
  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 120%;
  /* or 25px */

  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  /* Dark */

  color: #1a193c;
}

.subtitle-1 {
  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* or 19px */

  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  /* Dark */

  color: #1a193c;
}

.subtitle-2 {
  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  /* Dark */

  color: #1a193c;
}

.body-1 {
  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  display: flex;
  align-items: center;

  /* Dark */

  color: #1a193c;
}

.body-2 {
  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */

  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  /* Dark */

  color: #1a193c;
}

.caption {
  /* Caption */

  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;

  /* Dark */

  color: #1a193c;
}

.overline {
  /* OVERLINE */

  /* Overline */

  font-family: Nunito Sans, Roboto, Raleway, Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;

  /* Dark */

  color: #1a193c;
}

.button-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.035em;
  font-feature-settings: 'liga' off;

  color: #000000;
}