.maxw-100 {
  max-width: 100px;
}
.maxw-150 {
  max-width: 150px;
}
.maxw-200 {
  max-width: 200px;
}
.maxw-250 {
  max-width: 250px;
}
.maxw-300 {
  max-width: 300px;
}
.maxw-350 {
  max-width: 350px;
}
.maxw-400 {
  max-width: 400px;
}
.maxw-450 {
  max-width: 450px;
}
.maxw-500 {
  max-width: 500px;
}
.maxw-550 {
  max-width: 550px;
}
.maxw-600 {
  max-width: 600px;
}
.maxw-650 {
  max-width: 650px;
}
.maxw-700 {
  max-width: 700px;
}
.maxw-750 {
  max-width: 750px;
}
.maxw-800 {
  max-width: 800px;
}
.maxw-850 {
  max-width: 850px;
}
.maxw-900 {
  max-width: 900px;
}
.maxw-950 {
  max-width: 950px;
}
.maxw-1000 {
  max-width: 1000px;
}
.maxw-1050 {
  max-width: 1050px;
}

.minw-100 {
  min-width: 100px;
}
.minw-150 {
  min-width: 150px;
}
.minw-200 {
  min-width: 200px;
}
.minw-250 {
  min-width: 250px;
}
.minw-300 {
  min-width: 300px;
}
.minw-350 {
  min-width: 350px;
}
.minw-400 {
  min-width: 400px;
}
.minw-450 {
  min-width: 450px;
}
.minw-500 {
  min-width: 500px;
}
.minw-550 {
  min-width: 550px;
}
.minw-600 {
  min-width: 600px;
}
.minw-650 {
  min-width: 650px;
}
.minw-700 {
  min-width: 700px;
}
.minw-750 {
  min-width: 750px;
}
.minw-800 {
  min-width: 800px;
}
.minw-850 {
  min-width: 850px;
}
.minw-900 {
  min-width: 900px;
}
.minw-950 {
  min-width: 950px;
}
.minw-1000 {
  min-width: 1000px;
}
.minw-1050 {
  min-width: 1050px;
}

.maxh-100 {
  max-height: 100px;
}
.maxh-150 {
  max-height: 150px;
}
.maxh-200 {
  max-height: 200px;
}
.maxh-250 {
  max-height: 250px;
}
.maxh-300 {
  max-height: 300px;
}
.maxh-350 {
  max-height: 350px;
}
.maxh-400 {
  max-height: 400px;
}
.maxh-450 {
  max-height: 450px;
}
.maxh-500 {
  max-height: 500px;
}
.maxh-550 {
  max-height: 550px;
}
.maxh-600 {
  max-height: 600px;
}
.maxh-650 {
  max-height: 650px;
}
.maxh-700 {
  max-height: 700px;
}
.maxh-750 {
  max-height: 750px;
}
.maxh-800 {
  max-height: 800px;
}
.maxh-850 {
  max-height: 850px;
}
.maxh-900 {
  max-height: 900px;
}
.maxh-950 {
  max-height: 950px;
}
.maxh-1000 {
  max-height: 1000px;
}
.maxh-1050 {
  max-height: 1050px;
}

.minh-100 {
  min-height: 100px;
}
.minh-150 {
  min-height: 150px;
}
.minh-200 {
  min-height: 200px;
}
.minh-250 {
  min-height: 250px;
}
.minh-300 {
  min-height: 300px;
}
.minh-350 {
  min-height: 350px;
}
.minh-400 {
  min-height: 400px;
}
.minh-450 {
  min-height: 450px;
}
.minh-500 {
  min-height: 500px;
}
.minh-550 {
  min-height: 550px;
}
.minh-600 {
  min-height: 600px;
}
.minh-650 {
  min-height: 650px;
}
.minh-700 {
  min-height: 700px;
}
.minh-750 {
  min-height: 750px;
}
.minh-800 {
  min-height: 800px;
}
.minh-850 {
  min-height: 850px;
}
.minh-900 {
  min-height: 900px;
}
.minh-950 {
  min-height: 950px;
}
.minh-1000 {
  min-height: 1000px;
}
.minh-1050 {
  min-height: 1050px;
}
